.one
{
    background-color: purple;
    color: white;
    bord:er : none;
    border-radius: 20px;
    height 30px;
    width: 100px; 
    margin-right: auto;
    font-family: 'lemon milk';
    margin-top:10px;
    padding-top:10px;
    font-size: 20px;    
}
.three
{    background-color: purple;
    color: white;
    bord:er : none;
    border-radius: 20px;
    height 30px;
    width: 100px; 
    margin-right: auto;
    font-family: 'lemon milk';
    margin-top:10px;
    padding-top:10px;
    font-size: 20px;
}
